/* Mobile First Index*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    font-size: 16px;
    margin: 0;
    padding: 10px; 
}

h1{
    font-size: 2em;
}

/* Lägg till flexbox överta Div så att det blir på hela sidan. */
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Stil på bilden */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Stil på divider */
.divider {
    width: 80%;
    height: 1px;
    background: #020202;
    margin: 20px 0;
    border: none;
    background: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
}

/* Stil på knapparna */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    transition: background-color 0.3s ease;
}

/* Hover-effekt på knapparna */
.button:hover {
    background-color: #0056b3;
}

/* Contact information */

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contact-item i {
    color: #3498db;
    margin-right: 5px; 
    font-size: 1.2em;
    padding-top: 3px;
}

.contact-item a {
    color: inherit; 
    text-decoration: none; 
}

.contact-item a:hover {
    text-decoration: underline;
}