/* Mobile First*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

h1{
    font-size: 2em;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
